<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/socket.io/socket.io.js'></script>
    <script>
        var socket = io();
    </script>
  </head>
  <body>
    <h1><%= title %></h1>

    <!-- core ui  -->
    <textarea id="text" placeholder="git gut"></textarea>
    <button id="save" onclick="window.open('/test.txt')">Save file</button>
    <p id="charRemaining"></p>

    <!-- core functionality-->
    <script type='text/javascript' src='/javascripts/main.js'></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
  </body>
</html>
