<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/socket.io/socket.io.js'></script>
    <script>
        var socket = io();
    </script>
  </head>
  <body>
    <!-- core ui  -->
    <main>
        <fieldset>
            <legend><%= title %></legend>
            <textarea id="text" placeholder="Napisz co u Ciebie słychać ..."></textarea>

        </fieldset>
        <fieldset>
            Zostało znaków: <span id="charsRemaining"></span>
            <input type="button" id="save" value="Save file" />
        </fieldset>
    </main>

    <!-- core functionality-->
    <script type='text/javascript' src='/javascripts/main.js'></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
  </body>
</html>
